<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Astro Audrey{% endblock %}</title>
    
    <!-- Favicon Links -->
     <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/star-favi.gif') }}">
    <meta name="theme-color" content="#ffffff">
    

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <!-- Navigation Header -->
    <header>
        <div class="nav-container">
            <nav>
                <div class="nav-container">
                    <div class="menu-btn" id="menuBtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="nav-menu" id="navMenu">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}

    <!-- Global Scripts -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
    <!-- Page Specific Scripts -->
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>